@import "tailwindcss";
@plugin "daisyui";

*{
    margin: 0;
    font-family: sans-serif;
}

.navigator{
    padding: 20px;
    height: 70px;

    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid rgba(0, 0, 0, 0.164);
}

.return-button{
    height: 100%;
}

.return-button-img{
    height: 100%;
}

.page{
    padding: 20px 20px 0px 20px;
}

/* Displays */
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row-centerx{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row-centery{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.flex-row-centerx-centery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-column-centerx{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-centery{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-column-centerx-centery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}